# GCC
CT_CC_GCC_ENABLE_CXX_FLAGS="-I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/arm-zephyr-eabi"

#
# Target optimisations
#
CT_ARCH_EXCLUSIVE_WITH_CPU=y
CT_TARGET_CFLAGS="-ftls-model=local-exec -I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/arm-zephyr-eabi"
CT_TARGET_LDFLAGS=""
# end of Target options

CT_ARCH_ARM=y
CT_ARCH_ARM_INTERWORKING=y
CT_CC_GCC_MULTILIB_LIST="rmprofile"
CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS="-mthumb-interwork"
