CT_WORK_DIR="${CT_TOP_DIR}/ct_build.arm-zephyr-eabi"

#
# Target optimisations
#
CT_ARCH_EXCLUSIVE_WITH_CPU=y
CT_TARGET_CFLAGS="-ftls-model=local-exec -I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/arm-zephyr-eabi"
CT_TARGET_LDFLAGS=""
# end of Target options

CT_ARCH_ARM=y
CT_ARCH_ARM_INTERWORKING=y

#
# Generic target options
#
CT_MULTILIB=y
CT_MULTILIB_SPACE=y

CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS="-mthumb-interwork"

# GDB
CT_GDB_CROSS_EXTRA_CONFIG_ARRAY="--enable-targets=arm-zephyr-eabi --enable-tls --enable-threads=posix --enable-libstdcxx-threads"

# GCC
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-tls --enable-threads=posix --enable-libstdcxx-threads"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-tls --enable-threads=posix --enable-libstdcxx-threads"
CT_CC_GCC_ENABLE_CXX_FLAGS="-I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/arm-zephyr-eabi"
CT_CC_GCC_MULTILIB_LIST="rmprofile"

# Binutils
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--disable-warn-rwx-segments"
