# Common crosstool-ng configurations for all toolchain variants

CT_CONFIG_VERSION="3"
CT_TARGET_VENDOR="zephyr"

#
# crosstool-NG behavior
#
# CT_OBSOLETE is not set
CT_EXPERIMENTAL=y
# CT_ALLOW_BUILD_AS_ROOT is not set
# CT_ENABLE_EXPERIMENTAL_BUNDLED_PATCHES is not set
CT_DEBUG_CT=y
# CT_DEBUG_PAUSE_STEPS is not set
# CT_DEBUG_CT_SAVE_STEPS=y
# CT_DEBUG_CT_SAVE_STEPS_GZIP=y
# CT_NO_OVERRIDE_LC_MESSAGES is not set
CT_DEBUG_INTERACTIVE=y

#
# Build behavior
#
CT_PARALLEL_JOBS=16

#
# Paths
#
CT_LOCAL_TARBALLS_DIR="${CT_LOCAL_TARBALLS_DIR}"

# Ncurses
CT_NCURSES_HOST_FALLBACKS="linux,xterm,xterm-color,xterm-256color,vt100,screen,screen-256color,tmux,tmux-256color"

# Binutils
CT_BINUTILS_SRC_CUSTOM=y
CT_BINUTILS_CUSTOM_LOCATION="${ZEPHYR_SDK_WORKSPACE}/binutils"

# GDB
CT_DEBUG_GDB=y
CT_GDB_SRC_CUSTOM=y
CT_GDB_CUSTOM_LOCATION="${ZEPHYR_SDK_WORKSPACE}/gdb"

# GCC
CT_GCC_SRC_CUSTOM=y
CT_GCC_CUSTOM_LOCATION="${ZEPHYR_SDK_WORKSPACE}/gcc"
CT_CC_LANG_CXX=y

# Newlib forced off
CT_LIBC_NEWLIB=n

# Picolibc
CT_LIBC_PICOLIBC=y
CT_PICOLIBC_SRC_CUSTOM=y
CT_PICOLIBC_CUSTOM_LOCATION="${ZEPHYR_SDK_WORKSPACE}/picolibc"
CT_LIBC_PICOLIBC_GLOBAL_ATEXIT=y
CT_LIBC_PICOLIBC_EXTRA_SECTIONS=y
CT_LIBC_PICOLIBC_ENABLE_TARGET_OPTSPACE=n
CT_LIBC_PICOLIBC_EXTRA_CONFIG_ARRAY="-Dthread-local-storage=auto -Derrno-function=zephyr -Dsysroot-install=true -Dsysroot-install-skip-checks=true -Dassert-verbose=false"
