#
# Target optimisations
#
CT_TARGET_CFLAGS="-ftls-model=local-exec -I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/riscv64-zephyr-elf"
CT_TARGET_LDFLAGS=""
# end of Target options

CT_ARCH_RISCV=y
CT_ARCH_64=y
CT_ARCH_ARCH="rv32ima_zicsr_zifencei"
CT_ARCH_ABI="ilp32"

#
# Generic target options
#
CT_MULTILIB=y
CT_MULTILIB_SPACE=y

CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS=""

# GDB
CT_GDB_CROSS_EXTRA_CONFIG_ARRAY="--enable-tls --enable-threads=posix --enable-libstdcxx-threads"

# GCC
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-tls --enable-threads=posix --enable-libstdcxx-threads"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-tls --enable-threads=posix --enable-libstdcxx-threads"
CT_CC_GCC_ENABLE_CXX_FLAGS="-I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/riscv64-zephyr-elf"

# Binutils
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--disable-warn-rwx-segments"

