CT_WORK_DIR="${CT_TOP_DIR}/ct_build.x86_64-zephyr-elf"

#
# Target optimisations
#
CT_TARGET_CFLAGS="-ftls-model=local-exec -I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/x86_64-zephyr-elf"
CT_TARGET_LDFLAGS=""
# end of Target options

CT_ARCH_X86=y
CT_ARCH_64=y

#
# Generic target options
#
CT_MULTILIB=y
CT_MULTILIB_SPACE=y

CT_LIBC_NEWLIB_NANO_TARGET_CFLAGS=""

# GDB
CT_GDB_CROSS_EXTRA_CONFIG_ARRAY="--enable-tls --enable-threads=posix --enable-libstdcxx-threads"

# GCC
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-tls --enable-threads=posix --enable-libstdcxx-threads --with-cpu-32=i586 --with-arch-32=i586 --with-cpu-64=generic --with-arch-64=x86-64"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--with-gnu-ld --with-gnu-as --enable-initfini-array --enable-tls --enable-threads=posix --enable-libstdcxx-threads --with-cpu-32=i586 --with-arch-32=i586 --with-cpu-64=generic --with-arch-64=x86-64"
CT_CC_GCC_ENABLE_CXX_FLAGS="-I${CT_TOP_DIR}/temp/include/inject/zephyr -I${CT_TOP_DIR}/temp/include/inject/x86_64-zephyr-elf"

# Binutils
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--disable-warn-rwx-segments --enable-targets=x86_64-pep"

